/node_modules
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.serverless
.scannerwork
.php_cs
.php_cs.cache
.api-docs
.idea
.php-cs-fixer.cache
composer.phar
composer.lock